<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="Description" content="Xinyu Zhou，Jiangxi Normal University，周新宇，江西师范大学" />
    <meta name="Keywords" content="Xinyu Zhou，Jiangxi Normal University，周新宇，江西师范大学" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="Distribution" content="Global" />
    <meta name="Robots" content="Xinyu Zhou，周新宇" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />


    <title>Dr. Zhou's Homepage</title>

</head>

<body>
    <!-- wrap starts here -->
    <div id="wrap" style="z-index: 1000;position: relative;">

        <!--header -->
        <div id="header">

            <h1 id="logo-text">
                <br>
                <br>
                
				<a href="index.html" style="font-family: Arial; font-size: 28px; letter-spacing: 1px; margin-top: 18px;" >
					Homepage of Xinyu Zhou / 周新宇个人主页               
				</a>
			</h1>

        </div>

        <!-- menu -->
        <div id="menu">
            <ul>
                <li><a href="index.html"><span>Home</span></a></li>
                <li><a href="pubs.html"><span>Publications</span></a></li>
                <li id="current"><a href="chinese.html"><span>中文介绍</span></a></li>
            </ul>
        </div>
        <div class="content" style="text-align: justify; text-justify: inter-character">
            <!-- content-wrap starts here -->
            <div id="content-wrap">

                <div id="main" class="chinese">

                    <h2 style="font-size: 20px;"><img src="images/paper.png" alt="" 
                                style="width: 15px;height: 15px;"> 个人概况</h2>
                    
                        <div class="Introduction" >
                            <p><b style="color: brown">周新宇</b>，男，1987年生，博士，副教授，江西修水人。2014年毕业于武汉大学计算机软件与理论专业获工学博士学位，2008年和2011年毕业于江西理工大学计算机科学与技术专业分别获工学学士和硕士学位。目前主要从事进化计算及其应用方面的研究，主持了国家自然科学基金项目2项、江西省自然科学基金项目2项、国家重点实验室开放基金项目1项、江西省教育厅科技计划项目1项；以第一作者和通讯作者发表了论文近30篇，含中国计算机学会CCF推荐的期刊和会议论文10余篇，1篇论文于2017年被评为“领跑者5000——中国精品科技期刊顶尖学术论文”，2篇论文获最佳会议论文奖；担任了多个权威期刊和会议的审稿人，如：Information Sciences、计算机学报、自动化学报、IEEE CEC等；指导的研究生多次获批江西省研究生创新基金项目，发表了相关的高水平学术论文等；担任江西师范大学计算机信息工程学院学术委员会委员、江西省教育学会中小学人工智能教育专委会秘书长、中国仿真学会智能仿真优化与调度专业委员会委员等。
                            </p>


                            <p><b style="color: brown">地址</b>：江西省南昌市紫阳大道江西师范大学计算机信息工程学院
                            </p>

                            <p>
                                <b style="color: brown">邮箱</b>：<span class="blue">xyzhou@jxnu.edu.cn</span> 或 <span class="blue">xyzhou@whu.edu.cn</span>
                            </p>
                        </div>
                    
                    <br>



                    <h2 style="font-size: 20px;"><img src="images/paper.png" alt="" 
                                style="width: 15px;height: 15px;"> 教育和工作经历</h2>
                    <ul>
                        <div>
                            <li>2019.12-2020.12，<a href="https://www.surrey.ac.uk" target="_blank">University of Surrey</a>，国家公派访问学者，合作导师：<a href="https://www.surrey.ac.uk/people/yaochu-jin" target="_blank">Yaochu Jin</a> 教授</li>
                            <li>2017.12-至今，江西师范大学，副教授</li>
                            <li>2014.07-2017.11，江西师范大学，讲师</li>
                            <li>2011.09-2014.06，武汉大学，博士</li>
                            <li>2008.09-2011.06，江西理工大学，硕士</li>
                            <li>2004.09-2008.06，江西理工大学，学士</li>
                        </div>
                    </ul>
                    <br>



                    <h2 style="font-size: 20px;"><img src="images/paper.png" alt="" 
                                style="width: 15px;height: 15px;"> 科研项目情况</h2>
                    <ul>
                        <div class="publish">
                            <li>国家自然科学基金地区科学基金项目，2020.01-2023.12，39万元，主持，在研</li>
                            <li>江西省自然科学基金项目，2019.01-2021.12，6万元，主持，在研</li>
                            <li>国家自然科学基金青年科学基金项目，2017.01-2019.12，20万元，主持，完成</li>
                            <li>江西省自然科学基金项目，2015.01-2017.12，5万元，主持，完成（结题为优秀）</li>
                            <li>江西省教育厅科技计划项目，2016.01-2017.12，2万元，主持，完成</li>
                            <li>国家重点实验室开放基金项目，2015.01-2016.12，3万元，主持，完成</li>
                        </div>
                    </ul>
                    <br>


                    <h2 style="font-size: 20px;"> <img src="images/paper.png" alt="" 
                                style="width: 15px;height: 15px;"> 期刊论文</h2>
                    <ul>

                        <div class="Journalpapers"></div>


                        <!--定义模板-->
                        <script type="text/html" id="templateJournalpapers">
                            <% for(var i=0; i<items.length; i++){ %>
                                    <% if(items[i].type==2) {%>

                                        <li>

                                            <%=items[i].Cauthor%>. <a href=<%=items[i].url%> target="_blank"><%=items[i].Ctitle%></a>.
                                                <%=items[i].Csource%>
                                                    <%=items[i].Cdescription%>

                                        </li>                                        
                                        <br>

                                   <% } %>

                                  <% if(items[i].type==1) {%>

                                        <li>

                                            <%=items[i].author%>. <a href=<%=items[i].url%> target="_blank"><%=items[i].title%>.</a>
                                                 <%=items[i].source%>
                                                       <%=items[i].Cdescription%>

                                        </li>                                        
                                        <br>
                                 <% } %>


                          <% } %>

                        </script>
                        <br>
                    </ul>

                    <h2 style="font-size: 20px;"> <img src="images/paper.png" alt="" 
                                style="width: 15px;height: 15px;"> 会议论文</h2>
                    <ul>
                        <div class="Conferencepapers"></div>
                        <!--定义模板-->
                        <script type="text/html" id="templateConferencepapers">
                            <%for (var i =0; i<items.length; i++){%>
                                <li>

                                    <%=items[i].author%>. <a href=<%=items[i].url%> target="_blank"><%=items[i].title%>.</a>
                                        <%=items[i].source%>
                                            <%=items[i].Cdescription%>

                                </li>
                                <br>                                
                             <%}%>

                        </script>
                    </ul>
                    <br>
                    <br>
                </div>

                <!-- content-wrap ends here -->
            </div>

        </div>


        <!-- wrap ends here -->
    </div>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/template-web.js"></script>
    <script type="text/javascript">
        $(function() {

            // 使用jQuery 发送ajax请求
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: "userinfo.json",
                success: function(data) {

                    // 转化为js对象 数组
                    var Journalpapers = data.Journalpapers;
                    var Conferencepapers = data.Conferencepapers;
                    // 包装为js对象
                    var objJournalpapers = {
                        items: Journalpapers
                    };
                    var objConferencepapers = {
                            items: Conferencepapers
                        }
                        // 调用模板引擎的方法，填充数据
                    var resultJournalpapers = template('templateJournalpapers', objJournalpapers);
                    var resultConferencepapers = template('templateConferencepapers', objConferencepapers);
                    $('.Journalpapers').append(resultJournalpapers);
                    $('.Conferencepapers').append(resultConferencepapers);
                }
            });

        });

    </script>
</body>
<script src="js/public.js"></script>

</html>
